{% extends "base.html" %}

{% load static %}

{% block titulo%} 
<title>TiendaOnline</title> 
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block contenido %}
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 style="padding-top: 20px; margin-top: 20px;"><b><i>Bienvenidos a Tienda Teletón</i></b></h1>
            <hr>
            <img src="{% static 'img/teleton.jpeg' %}" class="img-fluid" 
                alt="Banner Promocional sobre la tienda online de Tienda Teleton">
        </div>
    </div>
</div>
{% endblock %}
