{% extends "base.html" %}

{% load static %}

{% block titulo%} 
<title>TiendaOnline</title> 
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block contenido %}
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1><b><i>Bienvenidos a Tienda Teleton</i></b></h1>
            <hr>
            <img src="{% static 'img/SuperMarket.jpg' %}" class="img-fluid" 
                alt="Banner Promocional sobre la tienda online de Super Market Sweep">
        </div>
    </div>
</div>
{% endblock %}
